.filter-controls{
  li{
    cursor: pointer;
    transition: .1s ease;
    &.active{
      font-weight: 600;
      color: $accent-color;
    }
    &:hover{
      color: $accent-color;
    }
  }
}

.tag-list{
  a{
    display: block;
    padding: 5px 10px;
    background: $light;
    color: $text-color;
    &:hover{
      background-color: $accent-color;
      color: $white;
    }
  }
}