// Color Variables
$accent-color: #62bf63;
$primary-color: #0e4633;
$secondary-color: #135D44;
$text-color: #34423D;
$text-color-light: #C0C5C3;
$text-color-dark: #34423D;
$body-color: #fff;
$border-color: #DFE1E0;
$black: #020907;
$white: #fff;
$light: #F9F9F9;
$gray: #F9F9F9;

// Font Variables
$primary-font: 'IBM Plex Sans', sans-serif;
$secondary-font: 'IBM Plex Serif', serif;
$icon-font: 'themify';