// Color Variables
$primary-color: #62bf63;
$secondary-color: #0e4633;
$text-color: #34423D;
$text-color-light: #C0C5C3;
$text-color-dark: #34423D;
$body-color: #fff;
$border-color: #DFE1E0;
$black: #020907;
$white: #fff;
$light: #F9F9F9;
$gray: #646E6B;

// Font Variables
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'futura-bold';
$icon-font: 'themify';