// Color Variables
$primary-color: #0e4633;
$secondary-color: #62bf63;
$text-color: #333333;
$text-color-light: #999999;
$text-color-dark: #111111;
$body-color: #fff;
$border-color: #e0e9e8;
$black: #000;
$white: #fff;
$light: #F9F9F9;
$gray: #F9F9F9;

// Font Variables
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'futura-bold';
$icon-font: 'themify';